/**
 * Icons
 */

.Icon {
	display: inline-block;
	margin-right: .5em;
	background-position: 0% 50%;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

.Icon--right {
	margin-right: 0;
	margin-left: .5em;
}

.Icon--posright {
	position: absolute;
	right: 0;
}

