/* ==========================================================================
   Contain
   ========================================================================== */

/**
 * Contain padding
 */

.contain-padding,
%contain-padding {
	padding-right: rhythm($contain-rhythm-unit) !important;
	padding-left: rhythm($contain-rhythm-unit) !important;

	// @include breakpoint(large) {
	// 	padding-right: rhythm(1.5 * $contain-rhythm-unit) !important;
	// 	padding-left: rhythm(1.5 * $contain-rhythm-unit) !important;
	// }
	@include breakpoint(chunky) {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
	// @include breakpoint(wide) {
	// 	padding-right: rhythm(2 * $contain-rhythm-unit) !important;
	// 	padding-left: rhythm(2 * $contain-rhythm-unit) !important;
	// }
	// @include breakpoint(huge) {
	// 	padding-right: rhythm(3 * $contain-rhythm-unit) !important;
	// 	padding-left: rhythm(3 * $contain-rhythm-unit) !important;
	// }
}

/**
 * Contain width
 */

.contain-width,
%contain-width {
	@extend %contain-padding;

	margin-right: auto !important;
	margin-left: auto !important;
	// max-width: strip-unit($figure-max-width) + (2 * strip-unit(rhythm($contain-rhythm-unit))) * 1em; // Figure max width in EM's
	// max-width: strip-unit($text-max-width) + (2 * strip-unit(rhythm($contain-rhythm-unit))) * 1em; // Text max width in EM's
	max-width: 57rem;
}
