%grunt-icon-close { background-image: url('../img/icon-close.png'); background-repeat: no-repeat; }

%grunt-icon-menu { background-image: url('../img/icon-menu.png'); background-repeat: no-repeat; }

%grunt-icon-plus { background-image: url('../img/icon-plus.png'); background-repeat: no-repeat; }

%grunt-logo { background-image: url('../img/logo.png'); background-repeat: no-repeat; }

