# ----------------------------------------------------------------------
# Always-ignore extensions (incl. OS or editor folders/files)
# ----------------------------------------------------------------------

*~
*.diff
*.css.map
*.esproj
*.err
*.log
*.orig
*.rej
*.sass-cache
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*.vi

._*
.buildpath
.cache
.com.apple*
.CVS
.dropbox
.DS_Store
.hg
.idea
.project
.settings
.svn
.tmp
.tmproj
.tm_properties

intermediate
publish
Thumbs.db


# ----------------------------------------------------------------------
# Ignore dependency workflow folders/files
# ----------------------------------------------------------------------

# Node Modules
node_modules
npm-debug.log

# ----------------------------------------------------------------------
# Ignore keys and private stuff
# ----------------------------------------------------------------------

deploy_key
deploy_key.pub

# ----------------------------------------------------------------------
# Ignore project folders/files
# ----------------------------------------------------------------------

#temp/**/*
#design/**/*

# ----------------------------------------------------------------------
# Ignore local claude settings
# ----------------------------------------------------------------------

.claude/settings.local.json

# ----------------------------------------------------------------------
# Ignore Kirby CMS folders/files
# ----------------------------------------------------------------------

#site/cache
#site/config/config.*.xip.io.php
#kirby
#panel
#site/panel
#thumbs
#content
