# ----------------------------------------------------------------------

# LOCAL

# Add only the .htaccess stuff you need at your local development
# environment. Make sure you use the production .htaccess on your
# live website.

# ----------------------------------------------------------------------
