/* ==========================================================================
   Footers
   ========================================================================== */

.footer {
	display: block;
	margin-top: page-rhythm(1);
	padding-top: page-rhythm(1);
	padding-bottom: page-rhythm(1);
	background-color: $color-gray-m-light;
}
