// --------------------------------------------------------------------------
// Typography
// --------------------------------------------------------------------------

// Font stacks
// --------------------------------------------------------------------------

$sans-font-stack:               "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, ArialMT, sans-serif;
$sans-web-font-stack:           "Roboto", $sans-font-stack;

$heading-font-stack:            "Helvetica Neue Bold", "HelveticaNeue-Bold", "Helvetica Bold", "Helvetica-Bold", "Arial Bold", Arial-BoldMT, sans-serif;
$heading-web-font-stack:        "Roboto", $heading-font-stack;

$serif-font-stack:              "Lucida Bright", "LucidaBright", Georgia, serif;
$mono-font-stack:               Monaco, "Courier New", "CourierNewPSMT", Courier, monospace, serif;

// Text sizing
// --------------------------------------------------------------------------

$text-sizes: (
	null:                       (16px, 1.5),                                    // base font size(s) and line height(s)
	small:                      (16px),
	compact:                    (17px),
	medium:                     (17px),
	large:                      (18px, 1.6),
	chunky:                     (21px, 1.71),
);

$text-mega: (                                                                // bg-link heading font size(s) and line height(s)
	null:                       (1.75rem, 1.136),
	compact:                    (2rem),
	medium:                     (2.5rem),
	large:                      (2.5rem, 1.1),
);

$text-alpha: (                                                                  // alpha heading font size(s) and line height(s)
	null:                       (3rem, 1.25),
	medium:                     (3rem),
	// medium:                     (2.5rem, 1.125),
	large:                      (3rem),
	// large:                      (3rem, 1.05),
);

$text-beta: (                                                                   // beta heading font size(s) and line height(s)
	null:                       (2rem, 1.154),
	medium:                     (2.5rem),
	// medium:                     (2rem, 1.25),
	large:                      (2.5rem),
	// medium:                     (2.25rem, 1.25),
);

$text-gamma: (                                                                  // gamma heading font size(s) and line height(s)
	null:                       (1.5rem, 1.136),
	medium:                     (1.5rem),
	// medium:                     (1.5rem, 1.25),
	large:                      (1.5rem),
	// large:                      (1.75rem, 1.25),
);

$text-delta: (                                                                  // delta heading font size(s) and line height(s)
	null:                       (1rem),
	// null:                       (1.125rem, 1.111),
	medium:                     (1rem),
	// medium:                     (1.125rem, 1.222),
);

$text-epsilon: (                                                                // epsilon heading font size(s) and line height(s)
	null:                       (1rem),
	// null:                       (1rem, 1.4),
);

$text-zeta: (                                                                   // zeta heading font size(s) and line height(s)
	null:                       (1rem),
	// null:                       (1rem, 1.4),
);

$text-nano: (                                                                   // nano heading font size(s) and line height(s)
	null:                       (.778rem),
);

$text-pico: (                                                                   // pico heading font size(s) and line height(s)
	null:                       (.722rem),
);

$text-micro: (                                                                   // pico heading font size(s) and line height(s)
	null:                       (.611rem),
);

$text-nav: (
	null:                       (1.5rem),
	medium:                     (1rem),
);
