/* ==========================================================================
   Images
   ========================================================================== */

/**
 * Fluid images
 */

img {
	max-width: 100%;
	height: auto;
	// border: 0;
}

/**
 * Non-fluid images explicitly or if 'width' and/or 'height'
 * attributes are specified.
 */

// img[width],
// img[height],
.Image--noFluid {
	max-width: none;
}

/**
 * Rounded images
 */

.Image--round {
	border-radius: .5em;
}

/* Image placement variations */

.Image--right {
	float: right;
	margin-bottom: rhythm(.5);
	margin-left: rhythm(.5);
}

.Image--left{
	float: left;
	margin-right: rhythm(.5);
	margin-bottom: rhythm(.5);
}

.Image--center {
	display: block;
	margin-right: auto;
	margin-bottom: rhythm(.5);
	margin-left: auto;
}

/* Images in 'figure' elements */

figure {
	margin: 0; // Overrule normalize.scss bullshit! (.../scss/vendor/)

	& > img {
		display: block;
	}
}
