/* ==========================================================================
   Fluid embed (http://j.mp/GIHbnu)
   ========================================================================== */

.fluid-embed {
	position: relative;

	&--1by1 {
		aspect-ratio: 1 / 1;
	}
	&--16by9 {
		aspect-ratio: 16 / 9;
	}
	&--4by3 {
		aspect-ratio: 4 / 3;
	}
	&--3by2 {
		aspect-ratio: 3 / 2;
	}
	&--9by16 {
		aspect-ratio: 9 / 16;
	}
	&--3by4 {
		aspect-ratio: 3 / 4;
	}
	&--2by3 {
		aspect-ratio: 2 / 3;
	}
}
