/* ==========================================================================
   Text selection
   ========================================================================== */

/**
 * Please no text-shadow on text selection
 * http://twitter.com/miketaylr/status/12228805301
 */

::selection {
	color: $color-base-white;
	text-shadow: none;
	background-color: rgba($color-base-black, .8);
}
