// --------------------------------------------------------------------------
// Colors
// --------------------------------------------------------------------------

// Base (default) colors
// --------------------------------------------------------------------------

$color-pitch-black:             rgb(0,0,0);
$color-snow-white:              rgb(255,255,255);

$color-base-black:              rgb(20,20,20);
$color-base-white:              rgb(254,254,254);

$color-base-gray:               rgb(127,129,132);

$color-base-blue:               rgb(24,16,248);
$color-base-green:              rgb(72,136,16);
$color-base-red:                rgb(216,8,16);
$color-base-yellow:             rgb(248,240,8);
$color-base-orange:             rgb(248,104,8);

$color-base-banana:             rgb(255,255,102);
$color-base-carnation:          rgb(255,111,207);
$color-base-maroon:             rgb(128,0,64);
$color-base-mocha:              rgb(128,64,0);
$color-base-moss:               rgb(0,128,64);
$color-base-plum:               rgb(128,0,128);
$color-base-salmon:             rgb(255,102,102);
$color-base-sky:                rgb(102,204,255);
$color-base-tangerine:          rgb(255,128,0);

// Grays

$color-gray-quiet:              rgb(239,239,239);
$color-gray-loud:               rgb(93,93,93);
$color-gray-light:              rgb(164,164,164);
$color-gray-m-light:            rgb(190,190,190);
$color-gray-x-light:            rgb(219,219,219);
$color-gray-dark:               rgb(145,145,145);
$color-gray-m-dark:             rgb(135,135,135);
$color-gray-x-dark:             rgb(100,100,100);

// Blues

$color-blue:                    rgb(0,114,255);
$color-blue-light:              rgb(69,152,255);
$color-blue-dark:               rgb(0,78,174);
