// --------------------------------------------------------------------------
// Z-indices
// --------------------------------------------------------------------------

$z-index-hidden:                -10;
$z-index-background-image:     -1;
$z-index-background:            0;
$z-index-base:                  1;
$z-index-quick-nav:             3;
$z-index-nav-mobile:            4;
$z-index-nav-toggle:            5;
$z-index-more-button:           10;
$z-index-banner:                11;
$z-index-filters-toggle:        20;
$z-index-nav-main:              1010;
$z-index-alert:                 1020;
$z-index-backdrop:              1100;
$z-index-alert-modal:           1200;
$z-index-cursor:                1500;
