// --------------------------------------------------------------------------
// Rhythm
// --------------------------------------------------------------------------
// Vertical rhythm function. Possible to output both EM and REM.
// Sets a muliple of base line height to maintain a vertyical rhythm.
// Requires line height to be set on $text-sizes map for 'null' breakpoint.
// --------------------------------------------------------------------------

@use 'sass:math';
@use 'sass:map';
@use 'sass:list';
@use '../settings/settings.typography' as *;

@function strip-unit($number) {
	@return math.div($number, $number * 0 + 1);
}

@function rhythm($lines, $current-font: null, $text-sizes: $text-sizes) {
	$base-map: map.get($text-sizes, null);
	$base-font: list.nth($base-map, 1);
	$base-line-height: null;
	$rhythm-context: null;

	@if list.length($base-map) <= 1 {
		@error "The `$text-sizes` map should contain a second argument (line-height) in the `null` key!";
	}

	$base-line-height: list.nth($base-map, 2);

	@if not math.unit($base-line-height) == "" {
		@error "Line-height multiple on the `null` key should be unitless!";
	}

	@if $lines == 0 {
		@return 0; // If number of lines is 0, output unitless value
	} @else {

		// Converts into EM if $current-font is provided
		@if $current-font {
			$rhythm-context: $lines * $base-line-height;

			@if math.unit($current-font) == "px" {
				$rhythm-context: $rhythm-context * $base-font;
				@return math.div($rhythm-context, $current-font) * 1em;
			}

			@if math.unit($current-font) == "em" {
				@return math.div($rhythm-context, strip-unit($current-font)) * 1em;
			} @else {
				@error "Font sizes should either be px or em if `$current-font` is provided!";
			}
		} @else {
			@return $lines * $base-line-height * 1rem;
		}
	}
}

@function page-rhythm($amount) {
	@return $amount * 16px;
}
