/* ==========================================================================
   Base page
   ========================================================================== */

/**
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from a `$text-sizes` map. The `font-size` is calculated to exist
 *    in %, the `line-height` is calculated to exist unitlessly.
 * 2. The default `font-size` is based on viewport units, when
 *    `fluid-base-text()` is used instead of the `responsive-base-text()` mixin.
 * 3. `Font-size` is set to `small` size (without mq) for browsers that don't
 *    cut the mustard (aka `no-ctm`).
 * 4. Force scrollbars to always be visible to prevent awkward 'jumps' when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 5. Prevent horizontal scrollbar when using layout grids!
 * 6. Ensure the page always fills at least the entire height of the viewport.
 */

html {
	@include responsive-base-text(); // [1], [3]
	// @include fluid-base-text(); // [2], [3]

	position: relative;
	height: 100%;
	overflow-y: auto; // [4]
	overflow-x: hidden; // [5]
	min-height: 100%; // [6]
	color: $color-base-black;
	background-color: $background-color;
	font-family: $sans-web-font-stack;
	font-weight: normal;
	font-size: 100%;
	// font-size: clamp(1rem, 1.5vw, 1.5rem);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	position: relative;
	min-height: 100%;
}

/**
 * Auto modern smooth scrolling
 */
html {
	scroll-behavior: smooth;
}

.scroll-target {
	scroll-margin-top: rhythm(1);
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

.page-main {
	position: relative;
	min-height: calc(100lvh - 64px - 56px);
	background-color: $color-base-white;
	z-index: $z-index-base;

	@include breakpoint(large) {
		min-height: calc(100lvh - 80px);
	}
}

.page-block {
	padding-top: page-rhythm(3);
	padding-bottom: page-rhythm(3);

	&--green {
		background-color: $color-vv-green-light;
	}
	&--beige {
		background-color: $color-vv-beige;
	}

	.hero-text + &,
	&--text + .page-block--text {
		padding-top: 0;
	}

	@include breakpoint(large) {
		padding-top: page-rhythm(6);
		padding-bottom: page-rhythm(6);
	}
}

.page-block__title {
	display: block;
	margin-bottom: page-rhythm(.5);
}
